footer
  .container.text-center
    p.pull-left Go play outside!
    ul.pull-right.list-inline
      li
        a(href='https://github.com/playoutside/tower-defense') GitHub Project
      li
        a(href='https://github.com/playoutside/tower-defense/issues') Issues