extends layout

block content
  h1 Tower Defense
  p.lead A GoPlayOutside game.
  hr
  .row
    if user
      .col-sm-6
        h2 Heading in to action
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='/game', role='button') Join Game »
      .col-sm-6
        h2 Hosting a own game
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') Host Game »
    else
      .col-sm-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .col-sm-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .col-sm-6
        h2 Interested to play?
        p Sign up to take part in a game
        p
          a.btn.btn-default(href='/signup', role='button') Sign up »
      .col-sm-6
        h2 Already Signed up?
        p Login to take part in a game
        p
          a.btn.btn-default(href='/login', role='button') Login »